// Row Class - Fully Nested

.row {
  margin-left: -50px;

  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }

  & [class*="column-"] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }

  & section,
  & article {
    margin-bottom: 0;
  }
}
