/*
Imports - Realised Once I was about 3/4
Through I went overboard compared to what the assignment requested
but theyre done!
*/
@use "colors";
@use "_headers";
@use "_columns";
@use "_rows";
@use "_images";
@use "_sections_articles";
@use "_nav";
@use "_container";
@use "_unorderedList";
@use "_button";
@use "_logo";
@use "_footer";
@use "_copyright";
@use "_marketing";
@use "_featured";
@use "_balloon";

/* 
  Main Styles
  Styles dealing with the whole page or ones that cant be
  easily imported under current use
*/
body {
  background: colors.$background url("/images/footer-bg.jpg") repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

// Basic Font Rules
body,
input,
textarea,
select {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.75em;
}

// What Bold means across the page, used on multiple
strong,
b {
  font-weight: bold;
  color: colors.$black;
}

// What italic/emphasized means, multiple uses
em,
i {
  font-style: italic;
}

// Link Color, Rule sets have more unique ones for this but this is the broad ruleset
a {
  color: colors.$blue;
}

//Subscript, not used but here when needed
sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

//Superscript
sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

// Break styles, used throughout
hr {
  border: 0;
  border-top: solid 1px colors.$white;
}

/* 
  Basic Styles for a number of html elements, 
  more of a base for these elements as
  they all mostly have their own stylesheets
*/
p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

// Blockquote Styles
blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

// Banner styles, not imported due to it being 1 ruleset
.banner {
  position: relative;
  padding: 12em 0em;
  background: url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  color: colors.$true-white;
}
//Page styles, not imported due to it being 1 ruleset
.page {
  position: relative;
  background: colors.$true-white;
}
// Main styles, belongs in main.scss
.main {
  border-top: 1px solid;
  border-color: colors.$black-transparent;
}
// sidebar header, only of its type
.sidebar header h2 {
  font-size: 1.6em;
}
